:root {
  --bg-color: rgb(15.923% 4.9449% 25.135%);
  --main-color: rgb(1.7407% 79.505% 96.895%);
}

html {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background: var(--bg-color);
  color: var(--main-color);
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

p {
  font-family: sans-serif;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  border: 2px solid var(--main-color);
}

h1 {
  font-family: sans-serif;
  color: var(--main-color);
  margin: 10px;
  padding: 10px;
  border: 2px solid var(--main-color);
}

a {
  background-color: var(--bg-color);
  color: var(--main-color);
}

#navigation {
  display: flex;
  flex-direction: row;
}

#navigation a {
  padding: 10px;
}

/* Canvas CSS */

canvas {
  border: 2px solid var(--main-color);
  background: var(--bg-color);
  color: var(--main-color);
}

canvas:hover {
  --main-color: rgb(15.923% 4.9449% 25.135%);
  --bg-color: rgb(1.7407% 79.505% 96.895%);
  border: 2px solid var(--main-color);
  background: var(--bg-color);
  color: var(--main-color);
}

canvas:not(:hover) {
  --bg-color: rgb(15.923% 4.9449% 25.135%);
  --main-color: rgb(1.7407% 79.505% 96.895%);
  border: 2px solid var(--main-color);
  background: var(--bg-color);
  color: var(--main-color);
}

/* General Classes */

.column {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
}

.row > * {
  flex-grow: 1;
}
